<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="main.css" />
<title>Pa pa pa</title>


</head>

<body>


<div id="scoreblad"></div>
<div id="result"></div>

<script type="text/template" id="resultInput">
  <form action="#">
    <fieldset id="winners">
      <legend>trekt</legend>
    </fieldset>
    <fieldset id="fangdeman">
      <legend>frangdeman</legend>
      <input type="number" name="winst" min="1" max="200" value="2" />
      <button id="addResult">Noteer</button>
    </fieldset>
    <fieldset id="losers">
      <legend>betaalt</legend>
    </fieldset>
  </form>
</script>

<script type="text/template" id="playerWinCheckbox">
  <input class="check" type="checkbox"
    id="winner<%= id%>"
    <%= (wins > 0) ? 'checked="checked"':'' %> />
  <label for="winner<%= id%>"><%= code%></label><br />
</script>

<script type="text/template" id="playerLooseCheckbox">
  <input class="check" type="checkbox"
    id="loser<%= id%>"
    <%= (wins < 0) ? 'checked="checked"':'' %> />
  <label for="loser<%= id%>"><%= code%></label><br />
</script>

<script type="text/template" id="scoreTable">
<table> 
<caption>Scoreblad</caption> 
<thead> 
<tr><th>Opm.</th><th>P1</th><th>P2</th><th>P3</th><th>P4</th></tr> 
</thead> 
<tbody> </tbody> 
</table>
</script>

<script src="scripts/lib/jquery-2.0.3.js"></script>
<script src="scripts/lib/underscore-1.5.2.js"></script>
<script src="scripts/lib/backbone-min-1.1.0.js"></script>
<script src="scripts/app.js"></script>
</body>
</html>
